<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="icon" href="https://cdn5.vectorstock.com/i/1000x1000/30/44/cloud-icon-vector-21213044.jpg">
  <title>Weather</title>

</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather.</p>

    <form action="">
      <input type="text" placeholder="location">
      <button>Search</button>
    </form>
    <p class="location"></p>
    <p class="forecast"></p>
  </div>
  
  {{>footer}}
  <script src="./js/app.js"></script>
</body>
</html>